<header class=""
        data-controller="navbar"
        data-navbar-visible-value="false"
>
  <nav class="z-20 w-full align-middle border-b shadow-lg bg-stone-800 dark:bg-neutral-800">
    <div class="flex flex-wrap max-w-screen-xl p-4"> 
      <% if  current_user.present? %>
        <div class="text-center">
          <button class="text-white  hover:bg-green-400 focus:ring-2 focus:ring-green-300 focus:bg-green-500 rounded-lg px-4 mt-3 py-2.5 mr-2 mb-2  align-middle hover:rotate-90 focus:rotate-180" 
                  type="button" 
                  data-action="click->navbar#toggle"   
          >
            <i class="fa-solid fa-bars"></i>
          </button>
        </div>
      <% end %>
      <%= link_to "KWH", root_path, class: "pt-4 text-2xl font-semibold  dark:text-white align-middle " %>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="mb-2 navbar-nav me-auto mb-lg-0"></ul>
        <%= render "shared/profile_dropdown" %>
      </div>
    </div>
  </nav>
  <%= render 'shared/offcanvas_nav' %>
</header>