<h1>Editing connector</h1>

<%= render "form", connector: @connector %>

<br>

<div>
  <%= link_to "Show this connector", @connector %> |
  <%= link_to "Back to connectors", connectors_path %>
</div>
