<h1>Editing prepped wire</h1>

<%= render "form", prepped_wire: @prepped_wire %>

<br>

<div>
  <%= link_to "Show this prepped wire", @prepped_wire %> |
  <%= link_to "Back to prepped wires", prepped_wires_path %>
</div>
