<h1>Editing wiring harness</h1>

<%= render "form", wiring_harness: @wiring_harness %>

<br>

<div>
  <%= link_to "Show this wiring harness", @wiring_harness %> |
  <%= link_to "Back to wiring harnesses", wiring_harnesses_path %>
</div>
