<h1>Editing uncut wire</h1>

<%= render "form", uncut_wire: @uncut_wire %>

<br>

<div>
  <%= link_to "Show this uncut wire", @uncut_wire %> |
  <%= link_to "Back to uncut wires", uncut_wires_path %>
</div>
