<%= turbo_frame_tag @terminal do %>

  <%= render "shared/remote_modal", title: "New terminal" do %>
    <%= render "form", terminal: @terminal %>
  <% end %>
<% end %>
<br>

<div>
  <%= link_to "Back to terminals", terminals_path %>
</div>
